h1 {
  background-image: linear-gradient(to right, blue, #1E90FF);
  color: #F8F8FF;
  text-align: center;
}

#locationForecast {
  border: 1px groove #808080;
}

/* Divides the page into columns */
.column {
  float: left;
}

.column.side {
  width: 25%;
}

.column.main {
  width: 75%;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.main {
    width: 100%;
  }
}

form.location {
  border-radius: 50%;
  width: 100%;
}


