h1 {
  background-image: linear-gradient(to right, blue, #1E90FF);
  color: #F8F8FF;
  text-align: center;
}

/* Divides the page into columns */
.column {
  float: left;
  margin: 20px;
}

.column.side {
  width: 25%;
}

.column.main {
  width: 75%;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.main {
    width: 100%;
  }
}

form #location {
  border-radius: 2%;
  width: 100%;
}

#locationForecast {
  padding: 20px;
  border: 1px groove #808080;
}


/* Card-deck styling for 5-Day Forecast*/
#fiveDayForecast {
  background-color: #808080;
  color: #F8F8FF;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.card {
  background-color: #F8F8FF;
  color: #808080;
  max-width: 15%;
  height: auto;
  display: inline-block;
  margin: 20px;
  padding: 10px;
}

img {
  max-width: 40%;
  height: auto;
/*   display: block; */
  margin-left: auto;
  margin-right: auto;
}

footer {
  text-align: center;
  margin: 20px;
}


